<a href="https://colab.research.google.com/github/programmervignesh/Bank-Transaction-Monitoring-System/blob/main/Bank_Transaction_Monitoring_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!apt-get install sqlite3
!pip install pandas

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#Define the correct path for the database
db_path="/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/sqldb"
os.makedirs(db_folder, exist_ok=True) #Ensure the folder exists
db_path = os.path.join(db_folder,"my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at :",db_path)

#**Bank customer table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUST (customer_id INT,
                       customer_name VARCHAR(20),
                       Address VARCHAR(20),
                       state_code VARCHAR(3),
                       Telephone VARCHAR(10)  );

''')
conn.commit()

In [ ]:
def insert_BANK_CUST(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO BANK_CUST(customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
conn.commit()

#Insertion
insert_BANK_CUST(123001,"Oliver","225-5,Emeryville","CA","1897614500")
insert_BANK_CUST(123002,"George","194-6,New Brighton","MN","1897617000")
insert_BANK_CUST(123003,"Harry","2909-5,Walnut Creek","CA","1897617866")
insert_BANK_CUST(123004,"Jack","229-5,Concord","CA","1897627999")
insert_BANK_CUST(123005,"Jacob","325-7,Mission Dist","SFO","1897637000")
insert_BANK_CUST(123006,"Noah","275-9,Saint-paul","MN","1897613200")
insert_BANK_CUST(123007,"Charlie","125-1,Richfield","MN","1897617666")
insert_BANK_CUST(123008,"Robin","3005-1,Healthrow","NY","1897614000")

In [ ]:
pip install tabulate

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_CUST")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Customer Export**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_EXPORT(customer_id CHAR(10),
                              customer_name CHAR(20),
                              Address  CHAR(20),
                              state_code CHAR(3),
                              Telephone CHAR(10));
''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_EXPORT(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO BANK_CUSTOMER_EXPORT(customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
conn.commit()

#Insertion
insert_BANK_CUSTOMER_EXPORT(123001,"Oliver","225-5,Emeryville","CA","1897614500")
insert_BANK_CUSTOMER_EXPORT(123002,"George","194-6,New Brighton","MN","1897617000")

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_CUSTOMER_EXPORT")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Account Details**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACC_DELS(customer_id INT,
                                  Account_number VARCHAR(19),
                                  Account_type VARCHAR(25),
                                  Balance_amount INT,
                                  Account_status VARCHAR(10),
                                  Relationship_type VARCHAR(1));
''')

conn.commit()

In [ ]:
def insert_BANK_ACC_DELS(customer_id,Account_number,Account_type,Balance_amount,Account_status,Relationship_type):
  cursor.execute("INSERT INTO BANK_ACC_DELS(customer_id,Account_number,Account_type,Balance_amount,Account_status,Relationship_type) VALUES(?,?,?,?,?,?)",(customer_id,Account_number,Account_type,Balance_amount,Account_status,Relationship_type))
conn.commit()

#Insertion
insert_BANK_ACC_DELS(123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P")
insert_BANK_ACC_DELS(123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
insert_BANK_ACC_DELS(123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P")
insert_BANK_ACC_DELS(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_BANK_ACC_DELS(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_BANK_ACC_DELS(123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_BANK_ACC_DELS(123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P")
insert_BANK_ACC_DELS(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P")
insert_BANK_ACC_DELS(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P")
insert_BANK_ACC_DELS(123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P")
insert_BANK_ACC_DELS(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
insert_BANK_ACC_DELS(123007, "9000-1700-7777-4321",  "Credit Card"	,0  ,"INACTIVE", "P")
insert_BANK_ACC_DELS(123007, '5900-1900-9877-5543', "Add-on Credit Card" ,   0   ,"ACTIVE", "S")
insert_BANK_ACC_DELS(123008, "5000-1700-7755",  "SAVINGS"   	,0   	,"INACTIVE","P")
insert_BANK_ACC_DELS(123006, '5800-1700-9800-7755', "Credit Card"   ,0   	,"ACTIVE", "P")
insert_BANK_ACC_DELS(123006, '5890-1970-7706-8912', "Add-on Credit Card"   ,0   	,"ACTIVE", "S")

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_ACC_DELS")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Account Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOU( Customer_id INT,
	                Account_Number VARCHAR(19),
		              Account_type VARCHAR(25),
		              Balance_amount INT ,
			            Account_status VARCHAR(10),
                  Relation_ship varchar(1) );

''')
conn.commit()

In [ ]:
def insert_BANK_ACCOU(Customer_id,Account_number,Account_type,Balance_amount,Account_status,Relation_ship):
  cursor.execute("INSERT INTO BANK_ACCOU(Customer_id,Account_number,Account_type,Balance_amount,Account_status,Relation_ship) VALUES(?,?,?,?,?,?)",(Customer_id,Account_number,Account_type,Balance_amount,Account_status,Relation_ship))
conn.commit()

#Insertion
insert_BANK_ACCOU(123001, "4000-1956-3456",  "SAVINGS", 200000 ,"ACTIVE","P")
insert_BANK_ACCOU(123001, "5000-1700-3456",  "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
insert_BANK_ACCOU(123002, "4000-1956-2001",  "SAVINGS" , 400000 ,"ACTIVE","P")
insert_BANK_ACCOU(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_BANK_ACCOU(123003, "4000-1956-2900",  "SAVINGS",750000,"INACTIVE","P")
insert_BANK_ACCOU(123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_BANK_ACCOU(123004, "4000-1956-3401",  "SAVINGS", 655000 ,"ACTIVE","P")
insert_BANK_ACCOU(123005, "4000-1956-5102",  "SAVINGS", 300000 ,"ACTIVE","P")
insert_BANK_ACCOU(123006, "4000-1956-5698",  "SAVINGS", 455000 ,"ACTIVE" ,"P")
insert_BANK_ACCOU(123007, "5000-1700-9800",  "SAVINGS", 355000 ,"ACTIVE" ,"P")
insert_BANK_ACCOU(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
insert_BANK_ACCOU(123007, "9000-1700-7777-4321",  "CREDITCARD"    ,0 ,"INACTIVE","P")
insert_BANK_ACCOU(123008, "5000-1700-7755",  "SAVINGS" ,None  ,"INACTIVE","P")

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_ACCOU")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Account Relationship Details**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Account_Relationship_Details( Customer_id INT,
							                                	Account_Number VARCHAR(19),
                            	                  Account_type VARCHAR(25),
                             	                  Linking_Account_Number VARCHAR(19));
''')

conn.commit()

In [ ]:
def insert_Bank_Account_Relationship_Details(customer_id,Account_Number,Account_type,Linking_Account_Number):
  cursor.execute("INSERT INTO Bank_Account_Relationship_Details(customer_id,Account_Number,Account_type,Linking_Account_Number) VALUES(?,?,?,?)",(customer_id,Account_Number,Account_type,Linking_Account_Number))
conn.commit()

#Insertion
insert_Bank_Account_Relationship_Details(123001, "4000-1956-3456",  "SAVINGS" , "")
insert_Bank_Account_Relationship_Details(123001, "5000-1700-3456",  "RECURRING DEPOSITS" , "4000-1956-3456")
insert_Bank_Account_Relationship_Details(123002, "4000-1956-2001",  "SAVINGS" , "" )
insert_Bank_Account_Relationship_Details(123002, "5000-1700-5001",  "RECURRING DEPOSITS" , "4000-1956-2001" )
insert_Bank_Account_Relationship_Details(123003, "4000-1956-2900",  "SAVINGS" , "" )
insert_Bank_Account_Relationship_Details(123004, "5000-1700-6091",  "RECURRING DEPOSITS" , "4000-1956-2900" )
insert_Bank_Account_Relationship_Details(123004, "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900" )
insert_Bank_Account_Relationship_Details(123007, "5000-1700-9800",  "SAVINGS" , "" )
insert_Bank_Account_Relationship_Details(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" )
insert_Bank_Account_Relationship_Details(None, "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" )
insert_Bank_Account_Relationship_Details(None, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' )
insert_Bank_Account_Relationship_Details(None, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' )
insert_Bank_Account_Relationship_Details(None, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' )

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM Bank_Account_Relationship_Details")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Account Transaction**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACC_TRAN (
                Account_Number VARCHAR(19),
                Transaction_amount Decimal(18,2) ,
                Transaction_channel VARCHAR(18) ,
                Province varchar(3) ,
                Transaction_Date Date) ;

''')
conn.commit()

In [ ]:
def insert_BANK_ACC_TRAN(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date):
  cursor.execute("INSERT INTO BANK_ACC_TRAN(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date) VALUES(?,?,?,?,?)",(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date))
conn.commit()

#Insertion
insert_BANK_ACC_TRAN( "4000-1956-3456",  -2000, "ATM withdrawl" , "CA", "2020-01-13")
insert_BANK_ACC_TRAN( "4000-1956-2001",  -4000, "POS-Walmart"   , "MN", "2020-02-14")
insert_BANK_ACC_TRAN( "4000-1956-2001",  -1600, "UPI transfer"  , "MN", "2020-01-19")
insert_BANK_ACC_TRAN( "4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23")
insert_BANK_ACC_TRAN( "4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24")
insert_BANK_ACC_TRAN( "4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15")
insert_BANK_ACC_TRAN( "5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BANK_ACC_TRAN( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BANK_ACC_TRAN( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19")
insert_BANK_ACC_TRAN( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14")
insert_BANK_ACC_TRAN( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27")
insert_BANK_ACC_TRAN( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16")
insert_BANK_ACC_TRAN( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17")
insert_BANK_ACC_TRAN( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13")
insert_BANK_ACC_TRAN( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21")
insert_BANK_ACC_TRAN( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13")
insert_BANK_ACC_TRAN( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12")
insert_BANK_ACC_TRAN('4000-1956-9977', 10000.00, 'ECS transfer', 'MN', '2020-02-16')
insert_BANK_ACC_TRAN('4000-1956-9977', 40000.00, 'ECS transfer', 'MN', '2020-03-18')
insert_BANK_ACC_TRAN('4000-1956-9977', 60000.00, 'ECS transfer', 'MN', '2020-04-18')
insert_BANK_ACC_TRAN('4000-1956-9977', 20000.00, 'ECS transfer', 'MN', '2020-03-20')
insert_BANK_ACC_TRAN('4000-1956-9977',49000.00,'ECS transfer','MN','2020-06-18' )

In [ ]:
cursor.execute("DELETE FROM BANK_ACC_TRAN")  # to delete the rows
conn.commit()

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_ACC_TRAN")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Customer Messages**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMER_MSG (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;


''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMER_MSG(Event,Customer_message,Notice_delivery_mode):
  cursor.execute("INSERT INTO BANK_CUSTOMER_MSG(Event,Customer_message,Notice_delivery_mode) VALUES(?,?,?)",(Event,Customer_message,Notice_delivery_mode))
conn.commit()

#Insertion
insert_BANK_CUSTOMER_MSG( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" )
insert_BANK_CUSTOMER_MSG( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" )

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_CUSTOMER_MSG")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

#**Bank Interest Rate**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_INTEREST_RATE(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);

''')
conn.commit()

In [ ]:
def insert_BANK_INTEREST_RATE(account_type,interest_rate,month,year):
  cursor.execute("INSERT INTO BANK_INTEREST_RATE(account_type,interest_rate,month,year) VALUES(?,?,?,?)",(account_type,interest_rate,month,year))
conn.commit()

#Insertion
insert_BANK_INTEREST_RATE( "SAVINGS" , 0.04 , '02' , '2020' )
insert_BANK_INTEREST_RATE( "RECURRING DEPOSITS" , 0.07, '02' , '2020' )
insert_BANK_INTEREST_RATE( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [ ]:
from tabulate import tabulate

# Fetch Data
cursor.execute("SELECT * FROM BANK_INTEREST_RATE")
rows=cursor.fetchall()

# Get column names
column_names=[desc[0] for desc in cursor.description]

#Print in tabulate formate
print(tabulate(rows,headers=column_names,tablefmt="grid"))

**Queries**

1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [ ]:
import pandas as pd
query = """
SELECT
    c.customer_id,
    c.customer_name,
    COALESCE(AVG(a.Balance_amount),0) AS average_balance
FROM BANK_CUST c
JOIN BANK_ACCOU a ON c.customer_id = a.Customer_id
GROUP BY c.customer_id, c.customer_name
limit 8;
"""

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='grid'))

2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
query =('''
  SELECT
    A.Customer_id,
    A.Account_Number,
    CASE
        WHEN A.Account_type IN ('Credit Card', 'CREDITCARD', 'Add-on Credit Card') AND (A.Balance_amount IS NULL OR A.Balance_amount = 0)
        THEN T.Total_Transaction_Amount
        ELSE A.Balance_amount
    END AS Final_Balance
FROM
    BANK_ACC_DELS A
LEFT JOIN
    (
        SELECT
            Account_Number,
            SUM(Transaction_amount) AS Total_Transaction_Amount
        FROM
            BANK_ACC_TRAN
        GROUP BY
            Account_Number
    ) T ON A.Account_Number = T.Account_Number
WHERE
    A.Account_type IN ('Credit Card', 'CREDITCARD', 'Add-on Credit Card') AND (A.Balance_amount IS NULL OR A.Balance_amount = 0);''')
result = pd.read_sql_query(query,conn)

print(tabulate(result,headers='keys',tablefmt='grid'))

3.Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
query = """
SELECT
    D.Account_Number,
    D.Balance_amount,
    T.Transaction_amount,
    T.Transaction_Date
FROM
    BANK_ACC_DELS D
JOIN
    BANK_ACCOUNT_TRAN T ON D.Account_Number = T.Account_Number
WHERE
    T.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
ORDER BY
    T.Transaction_Date
limit 12;
    """

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid", showindex=False))

4.Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
query='''
SELECT
    C.customer_id,
    A.Account_Number,
    A.Balance_amount,
    T.Transaction_amount,
    T.Transaction_Date
FROM
    BANK_CUST C
JOIN
    BANK_ACC_DELS A ON C.customer_id = A.Customer_id
LEFT JOIN
    BANK_ACC_TRAN T ON A.Account_Number = T.Account_Number
WHERE
    T.Transaction_Date IS NULL
    OR (T.Transaction_Date NOT BETWEEN '2020-03-01' AND '2020-03-31')
ORDER BY
    C.customer_id, T.Transaction_Date;
        '''

result=pd.read_sql_query(query,conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

5.Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
query = """
SELECT
    D.Customer_id,
    D.Account_Number,
    D.Balance_amount,
    T.Transaction_amount,
    T.Transaction_Date
FROM
    BANK_ACC_DELS D
JOIN
    BANK_ACC_TRAN T ON D.Account_Number = T.Account_Number
WHERE
    T.Transaction_Date BETWEEN '2020-01-01' AND '2020-03-31';
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

6.Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an “Adhoc" Event for all customers who have  “SAVINGS" account_type account.(8 Rows)

In [ ]:
query = """
SELECT
    a.account_number,
    m.event,
    m.customer_message
FROM BANK_ACCOU a
JOIN BANK_CUSTOMER_MSG m
    ON m.event = 'Adhoc'
WHERE a.account_type = 'SAVINGS'
ORDER BY a.account_number;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

7.Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
query = """
SELECT
    a.customer_id,
    a.account_number,
    a.account_type,
    a.balance_amount -
     COALESCE(SUM(
        CASE
            WHEN t.transaction_amount < 0 THEN ABS(t.transaction_amount)
            ELSE 0
        END
    ), 0) AS deducted_balance
FROM BANK_ACCOU a
JOIN BANK_ACC_DELS d
    ON a.account_number = d.account_number
LEFT JOIN BANK_ACC_TRAN t
    ON a.account_number = t.account_number
WHERE d.relationship_type = 'P'
GROUP BY a.customer_id, a.account_number, a.account_type, a.balance_amount
ORDER BY a.customer_id;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

8.A.Display records of All Accounts , their Account_types, the transaction amount.

In [ ]:
query = """
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount
FROM BANK_ACCOU a
LEFT JOIN BANK_ACC_TRAN t
    ON a.account_number = t.account_number
ORDER BY a.account_number;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

8.B.Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
query = '''
SELECT
    d.Customer_ID,
    d.Account_Number,
    d.Account_Type,
    d.Balance_Amount,
    t.Transaction_Amount,
    t.Transaction_Date,
    t.Province
FROM Bank_Accou d
LEFT JOIN Bank_Acc_Tran t
    ON d.Account_Number = t.Account_Number
ORDER BY d.Account_Number, t.Transaction_Date;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [desc[0] for desc in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

9.A.Display records of All Accounts , their Account_types, the transaction amount.

In [ ]:
query = """
SELECT
    A.Account_Number,
    A.Account_type,
    B.Transaction_amount
FROM
    Bank_Acc_Dels A
LEFT JOIN
    BANK_ACC_TRAN B ON A.Account_Number = B.Account_Number
ORDER BY
    A.Account_Number;"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

9.B.Along with first step, Display other columns with corresponding linking account number, account types

In [ ]:
query = """
SELECT
    a.account_number,
    a.account_type,
    COALESCE(t.transaction_amount, 0) AS transaction_amount,
    r.linking_account_number,
    r.account_type AS linked_account_type
FROM BANK_ACCOU a
LEFT JOIN BANK_ACC_TRAN t
    ON a.account_number = t.account_number
LEFT JOIN Bank_Account_Relationship_Details r
    ON a.account_number = r.account_number
ORDER BY a.account_number;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid", showindex=False))

9.C.After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
query = """
SELECT
    a.account_number,
    a.account_type,
    COALESCE(t.transaction_amount, 0) AS account_transaction_amount,
    r.linking_account_number,
    r.account_type AS linked_account_type,
    COALESCE(t2.transaction_amount, 0) AS linked_account_transaction_amount
FROM BANK_ACCOU a
LEFT JOIN BANK_ACC_TRAN t
    ON a.account_number = t.account_number
LEFT JOIN Bank_Account_Relationship_Details r
    ON a.account_number = r.account_number
LEFT JOIN BANK_ACC_TRAN t2
    ON r.linking_account_number = t2.account_number
ORDER BY a.account_number;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

10.Display all saving account holders have “Add-on Credit Cards" and “Credit cards" (3 Rows)

In [ ]:
query = """
SELECT DISTINCT
    bc.customer_id,
    bc.customer_name
FROM
    BANK_CUST bc
JOIN
    Bank_Acc_Dels bad_savings ON bc.customer_id = bad_savings.Customer_id
JOIN
    Bank_Acc_Dels bad_credit ON bc.customer_id = bad_credit.Customer_id
WHERE
    bad_savings.Account_type = 'SAVINGS'
    AND bad_credit.Account_type IN ('Credit Card', 'Add-on Credit Card')
GROUP BY
    bc.customer_id, bc.customer_name
HAVING
    COUNT(DISTINCT CASE WHEN bad_credit.Account_type = 'Credit Card' THEN 1 END) > 0
    AND COUNT(DISTINCT CASE WHEN bad_credit.Account_type = 'Add-on Credit Card' THEN 1 END) > 0;
        """

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))

11.Display  records of “SAVINGS” account linked with “Credit cards" account_type and its credit aggregate sum of transaction amount. (1 Row)

In [ ]:
query = """
SELECT
    sad.Customer_id AS Savings_Customer_id,
    sad.Account_Number AS Savings_Account_Number,
    sad.Account_type AS Savings_Account_type,
    cad.Account_Number AS Credit_Card_Account_Number,
    cad.Account_type AS Credit_Card_Account_type,
    COALESCE(SUM(bat.Transaction_amount), 0) AS Credit_Transaction_Sum
FROM
    Bank_Acc_Dels sad
JOIN
    Bank_Account_Relationship_Details bard ON sad.Account_Number = bard.Linking_Account_Number
JOIN
    Bank_Acc_Dels cad ON bard.Account_Number = cad.Account_Number
LEFT JOIN
    BANK_ACC_TRAN bat ON cad.Account_Number = bat.Account_Number AND bat.Transaction_amount > 0
WHERE
    sad.Account_type = 'SAVINGS'
    AND cad.Account_type LIKE '%Credit Card%'
GROUP BY
    sad.Customer_id, sad.Account_Number, sad.Account_type, cad.Account_Number, cad.Account_type;
            """
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers="keys", tablefmt="grid"))